@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<h1 class="display-4">Bienvenidos a WMS Essential</h1>*@
        <div>
            <img src="/Img/Logo2.jpg" width="400" height="400">

        </div>
    </div>
