@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Este sistema permite efectuar la administración de las bodegas, utilizando las terminales portatiles.</p>
<p> Propietario: Edison Arriagada Muñoz</p>
