@model WMSWeb.Models.DocumentoEntrada

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DocumentoEntrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NroEntrada" />
            <input type="hidden" asp-for="CodAlmacen" />
            <div class="form-group">
                <label asp-for="NroDocEntrada" class="control-label"></label>
                <input asp-for="NroDocEntrada" class="form-control" />
                <span asp-validation-for="NroDocEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEstado" class="control-label"></label>
                <input asp-for="CodEstado" class="form-control" />
                <span asp-validation-for="CodEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroDocReferencia" class="control-label"></label>
                <input asp-for="NroDocReferencia" class="form-control" />
                <span asp-validation-for="NroDocReferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodDocEntrada" class="control-label"></label>
                <input asp-for="CodDocEntrada" class="form-control" />
                <span asp-validation-for="CodDocEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodAlmacenOrigen" class="control-label"></label>
                <input asp-for="CodAlmacenOrigen" class="form-control" />
                <span asp-validation-for="CodAlmacenOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodProveedor" class="control-label"></label>
                <select asp-for="CodProveedor" class="form-control" asp-items="ViewBag.CodProveedor"></select>
                <span asp-validation-for="CodProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEmision" class="control-label"></label>
                <input asp-for="FechaEmision" class="form-control" />
                <span asp-validation-for="FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecEstimadaRecepcion" class="control-label"></label>
                <input asp-for="FecEstimadaRecepcion" class="form-control" />
                <span asp-validation-for="FecEstimadaRecepcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

